*{
    padding: 0;
    margin:0;

    box-sizing: border-box;
}

/* reset */

body{
    font-family: sans-serif;
}

main{
    padding:130px 0 62px;
}

.container{
    max-width: 1000px;

    margin-left: auto;
    margin-right: auto;
}

.row{
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.pos-rel{
    position: relative;
}

/* nav */
nav{
    width: 100%;
    position: fixed;
    z-index: 1;;

    padding:20px;
   
    background-color: #ff6900;

    color:white;
}

.container.row{
    justify-content: space-between;
    align-items: center;
}

ul.row, .icon.row{
    gap:10px;

    max-width: 200px;
}

nav ul{
    list-style-type: none;
}

nav a{
    color:white;
    text-decoration: none;
}

#nav-logo{
    width: 140px;
}

nav .container #logo-container{
    flex-grow: 1;
}


/* fine nav */


/* vetrina */
.vetrina.row{
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap:20px;
}

.element{
    flex-basis: calc(100%3);
}

.vet-img{
    width: 100%;
}

#row1.row, #row2.row{
    gap:20px;

}

.marca, .price{
    font-size: 12px;
}

.vestiario{
    font-size: 14px;
    font-weight: bold;
}

.discount{
    color: red;
}

.old-price{
    text-decoration: line-through;
}


.discount-box, .sos-box, .like{
    position: absolute;

    padding:6px 8px;

    color:white;
    font-size: 10px;
}

.discount-box{
    left:0px;
    bottom:40px;

    z-index: 2;

    background-color: #ff0000;
}

.sos-box{
    left:40px;
    bottom:40px;

    z-index: 2;

    background-color: #008000;
}

.like{
    
    right: 0;
    top:10px;

    z-index: 2;

    font-size: 24px;
    background-color: white;
    color:black

}

.img-b{
    position: absolute;
    left:0;

    opacity: 0;
}

.element:hover .img-b{
   opacity: 1;
}

/* fine vetrina */


/* footer */
footer{
    background-color: #1a1a1a;
    color:white;
}

footer .container .foot-links{
    flex-grow: 1;
}

footer ul.row{
    max-width:none;
    list-style-type: none;
}

footer ul li a{

    font-size:.8em;
    color:white;
    text-decoration: none;
}

footer .container{
    padding:23px 0;
}
/* fine footer */